/ SYNTAX TEST "Packages/Rails/HAML (Rails).sublime-syntax"

!!!
/ <- meta.doctype.haml punctuation.definition.doctype.haml
/^^ meta.doctype.haml punctuation.definition.doctype.haml

!!! This is a prolog
/ <- meta.doctype.haml punctuation.definition.doctype.haml
/^^^^^^^^^^^^^^^^^^^ meta.doctype.haml
/^^ punctuation.definition.doctype.haml
/   ^^^^^^^^^^^^^^^^^ constant.language.doctype.haml

!!!This is no doctype
/ <- - meta.doctype
/^^^^^^^^^^^^^^^^^^^^ - meta.doctype

 /
 / <- comment.block.haml punctuation.definition.comment.haml

 /[if IE] conditional comment
 / <- comment.line.slash.haml punctuation.definition.comment.haml
 /^^^^^^^ comment.line.slash.haml meta.brackets.haml
 /       ^^^^^^^^^^^^^^^^^^^^^ comment.line.slash.haml - meta.brackets
 /^ punctuation.section.brackets.begin.haml
 /      ^ punctuation.section.brackets.end.haml

 /[if IE]
   Block comment
   / <- comment.block.haml
   Second line
   / <- comment.block.haml
   -
   #myview.html.haml
   / <- comment.block.haml entity.name.tag.id.haml punctuation.definition.tag.haml
   /^^^^^^ comment.block.haml entity.name.tag.id.haml
   /      ^^^^^^^^^^ comment.block.haml entity.name.tag.class.haml
   Third line
   / <- comment.block.haml

 -#
 -# <- comment.block.haml punctuation.definition.comment.haml

 -#
   Block comment
   -# <- comment.block.haml
   Second line
   -# <- comment.block.haml
   -
   #myview.html.haml
   -# <- comment.block.haml entity.name.tag.id.haml punctuation.definition.tag.haml
   -#^^^^^^ comment.block.haml entity.name.tag.id.haml
   -#      ^^^^^^^^^^ comment.block.haml entity.name.tag.class.haml
   Third line
   -# <- comment.block.haml

#myview.html.haml
/ <- meta.tag.haml entity.name.tag.id.haml punctuation.definition.tag.haml
/^^^^^^ meta.tag.haml entity.name.tag.id.haml
/      ^^^^^^^^^^ meta.tag.haml entity.name.tag.class.haml
/      ^ punctuation.definition.tag.haml
/           ^ punctuation.definition.tag.haml

%h1= @the_title
/ <- meta.tag.haml punctuation.definition.tag.haml
/^^ meta.tag.haml entity.name.tag.haml
/  ^^^^^^^^^^^^ meta.line.ruby.haml

%p This is #{h quality} cake!
/          ^^^^^^^^^^^^ meta.interpolation.haml
/          ^^ punctuation.section.interpolation.begin.haml
/            ^^^^^^^^^ source.ruby.embedded.haml
/                     ^ punctuation.section.interpolation.end.haml

%p This is #{h
   quality} cake!
/  ^^^^^^^^ meta.interpolation.haml
/  ^^^^^^^ source.ruby.embedded.haml
/         ^ punctuation.section.interpolation.end.haml

%p
/ <- meta.tag.haml punctuation.definition.tag.haml
/^ meta.tag.haml entity.name.tag.haml

    This is my form

= render 'form' # comment
/ <- meta.line.ruby.haml
/^^^^^^^^^^^^^^^^^^^^^^^^^ meta.line.ruby.haml source.ruby.embedded.haml
/ ^^^^^^ support.function.actionpack.rails
/        ^^^^^^ meta.string.ruby string.quoted.single.ruby
/               ^^^^^^^^^ comment.line.number-sign.ruby
/               ^ punctuation.definition.comment.ruby

%title
  = @title
/ ^ meta.embedded.haml meta.line.ruby.haml punctuation.section.embedded.haml
/  ^^^^^^^ meta.embedded.haml meta.line.ruby.haml source.ruby.embedded.haml
  \= @title
/ ^^ meta.escape.haml

%one
  %two
    %three Hey there
/   ^^^^^^ meta.tag.haml
/   ^ punctuation.definition.tag.haml

%blockquote<
/ <- meta.tag.haml punctuation.definition.tag.haml
/^^^^^^^^^^ meta.tag.haml entity.name.tag.haml
/          ^ keyword.operator.whitespace.haml
  %div>
/ ^ meta.tag.haml punctuation.definition.tag.haml
/  ^^^ meta.tag.haml entity.name.tag.haml
/     ^ keyword.operator.whitespace.haml
    Foo!

%img
%pre><
/ <- meta.tag.haml punctuation.definition.tag.haml
/^^^ meta.tag.haml entity.name.tag.haml
/   ^^ keyword.operator.whitespace.haml
  foo
  bar
%img
/ <- meta.tag.haml punctuation.definition.tag.haml
/^^^ meta.tag.haml entity.name.tag.haml

%p<= "Foo\nBar"
/ <- meta.tag.haml punctuation.definition.tag.haml
/^ meta.tag.haml entity.name.tag.haml
/ ^ keyword.operator.whitespace.haml
/  ^^^^^^^^^^^^ meta.embedded.haml meta.line.ruby.haml
/  ^ punctuation.section.embedded.haml

%p{:class => "myclass", :id => "myid"} My paragraph
/ <- meta.tag.haml punctuation.definition.tag.haml
/^ meta.tag.haml entity.name.tag.haml
/ ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.attributes.haml meta.braces.haml
/ ^ punctuation.section.braces.begin.haml
/  ^ constant.other.symbol.ruby punctuation.definition.constant.ruby
/   ^^^^^ constant.other.symbol.ruby - punctuation
/         ^^ punctuation.separator.key-value.ruby
/            ^^^^^^^^^ meta.string.ruby string.quoted.double.ruby
/            ^ punctuation.definition.string.begin.ruby
/                    ^ punctuation.definition.string.end.ruby
/                     ^ punctuation.separator.sequence.ruby
/                       ^ constant.other.symbol.ruby punctuation.definition.constant.ruby
/                        ^^ constant.other.symbol.ruby
/                           ^^ punctuation.separator.key-value.ruby
/                              ^^^^^^ meta.string.ruby string.quoted.double.ruby
/                              ^ punctuation.definition.string.begin.ruby
/                                   ^ punctuation.definition.string.end.ruby
/                                    ^ punctuation.section.braces.end.haml

%p{:class => "myclass",
   :id => "myid"} My paragraph
/  ^^^^^^^^^^^^^^ meta.tag.attributes.haml meta.braces.haml
/               ^ punctuation.section.braces.end.haml

%p{:class => "myclass", |
/ <- meta.tag.haml punctuation.definition.tag.haml
/^ meta.tag.haml entity.name.tag.haml
/ ^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.attributes.haml meta.braces.haml
/                       ^ punctuation.separator.continuation.haml

%p{:class => "myclass", |
   :id => "myid"} My paragraph |
/  ^^^^^^^^^^^^^^ meta.tag.attributes.haml meta.braces.haml
/               ^ punctuation.section.braces.end.haml

%p{:class => "myclass", |
   :id => "myid" |
} My paragraph |
/ <- meta.tag.attributes.haml meta.braces.haml punctuation.section.braces.end.haml

%p{:class => "myclass", |
   # :id => "myid"} My paragraph |
/  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.attributes.haml meta.braces.haml comment.line.number-sign.ruby
/                 ^ - punctuation
/                                ^ punctuation.separator.continuation.haml

%p{:class => "myclass", |
   # a ruby comment     |
   :id => "myid"} My paragraph |
/  ^^^^^^^^^^^^^^ meta.tag.attributes.haml meta.braces.haml
/               ^ punctuation.section.braces.end.haml

%div{:id => [@item.type, @item.number], :class => [@item.type, @item.urgency]}
/ <- meta.tag.haml punctuation.definition.tag.haml
/^^^ meta.tag.haml entity.name.tag.haml
/   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.attributes.haml meta.braces.haml
/   ^ punctuation.section.braces.begin.haml
/    ^^^ constant.other.symbol.ruby
/        ^^ punctuation.separator.key-value.ruby
/           ^ punctuation.section.array.ruby
/                      ^ punctuation.separator.sequence.ruby
/                                    ^ punctuation.section.array.ruby
/                                     ^ punctuation.separator.sequence.ruby
/                                       ^^^^^^ constant.other.symbol.ruby
/                                              ^^ punctuation.separator.key-value.ruby
/                                                 ^ punctuation.section.array.ruby
/                                                            ^ punctuation.separator.sequence.ruby
/                                                                           ^ punctuation.section.array.ruby
/                                                                            ^ punctuation.section.braces.end.haml

%div{:id => "#{@item.type}_#{@item.number}", :class => "#{@item.type} #{@item.urgency}"}
/ <- meta.tag.haml punctuation.definition.tag.haml
/^^^ meta.tag.haml entity.name.tag.haml
/   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.attributes.haml meta.braces.haml
/           ^ meta.string.ruby - meta.interpolation
/            ^^^^^^^^^^^^^ meta.string.ruby meta.interpolation.ruby - string
/                         ^ meta.string.ruby - meta.interpolation
/                          ^^^^^^^^^^^^^^^ meta.string.ruby meta.interpolation.ruby - string
/                                         ^ meta.string.ruby - meta.interpolation
/                                          ^^^^^^^^^^^^ - meta.string
/                                                      ^ meta.string.ruby - meta.interpolation
/                                                       ^^^^^^^^^^^^^ meta.string.ruby meta.interpolation.ruby
/                                                                    ^ meta.string.ruby - meta.interpolation
/                                                                     ^^^^^^^^^^^^^^^^ meta.string.ruby meta.interpolation.ruby
/                                                                                     ^ meta.string.ruby - meta.interpolation
/   ^ punctuation.section.braces.begin.haml
/    ^^^ constant.other.symbol.ruby
/        ^^ punctuation.separator.key-value.ruby
/           ^ string.quoted.double.ruby punctuation.definition.string.begin.ruby
/            ^^ punctuation.section.interpolation.begin.ruby
/                        ^ punctuation.section.interpolation.end.ruby
/                         ^ string.quoted.double.ruby - meta.interpolation
/                          ^^ punctuation.section.interpolation.begin.ruby
/                                        ^ punctuation.section.interpolation.end.ruby
/                                         ^ string.quoted.double.ruby punctuation.definition.string.end.ruby
/                                          ^ punctuation.separator.sequence.ruby
/                                            ^^^^^^ constant.other.symbol.ruby
/                                                   ^^ punctuation.separator.key-value.ruby
/                                                      ^ string.quoted.double.ruby punctuation.definition.string.begin.ruby
/                                                                    ^ string.quoted.double.ruby
/                                                                     ^^ punctuation.section.interpolation.begin.ruby
/                                                                                    ^ punctuation.section.interpolation.end.ruby
/                                                                                     ^ string.quoted.double.ruby punctuation.definition.string.end.ruby

.item{:class => @item.is_empty? && "empty"}
/ <- meta.tag.haml entity.name.tag.class.haml punctuation.definition.tag.haml
/^^^^ meta.tag.haml entity.name.tag.class.haml
/    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.attributes.haml meta.braces.haml
/    ^ punctuation.section.braces.begin.haml
/     ^^^^^^ constant.other.symbol.ruby
/            ^^ punctuation.separator.key-value.ruby
/               ^^^^^ variable.other.readwrite.instance.ruby
/                    ^ punctuation.accessor.dot.ruby
/                               ^^ keyword.operator.logical.ruby
/                                  ^^^^^^^ meta.string.ruby string.quoted.double.ruby
/                                         ^ punctuation.section.braces.end.haml

%a{:href=>"/posts", :data => {:author_id => 123, :category => 7}} Posts By Author
/ <- meta.tag.haml punctuation.definition.tag.haml
/^ meta.tag.haml entity.name.tag.haml
/ ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.attributes.haml meta.braces.haml
/ ^ punctuation.section.braces.begin.haml
/                            ^ punctuation.section.scope.ruby
/                                                              ^ punctuation.section.scope.ruby
/                                                               ^ punctuation.section.braces.end.haml

- links = {:home => "/",
    :docs => "/docs",
    :about => "/about"}
/   ^^^^^^^^^^^^^^^^^^^ meta.embedded.haml meta.line.ruby.haml source.ruby.embedded.haml
/                     ^ punctuation.section.scope.ruby
